{
  "rules": {
    "function-calc-no-invalid": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ]
  },
  "extends": "stylelint-config-recommended"
}

